{% extends 'layout.html' %}

{% block content %}
  <h1>{{title}}</h1>
  <a href="/" id="exit-btn">방 나가기</a>
  <fieldset>
    <legend>채팅 내용</legend>
    <div id="user-nick" data-usernick="{{ user.nick }}"></div>
    <div id="chat-list">
      {% for chat in chats %}
        {% if chat.user === user %}
          <div class="mine">
            <div>{{chat.user}}</div>
            <div>{{chat.chat}}</div>
          </div>
        {% elif chat.user === 'system' %}
          <div class="system">
            <div>{{chat.chat}}</div>
          </div>
        {% else %}
          <div class="other">
            <div>{{chat.user}}</div>
            <div>{{chat.chat}}</div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </fieldset>
  <form action="/chat" id="chat-form" method="post" enctype="multipart/form-data">
    <input type="text" id="chat" name="chat">
    <button type="submit">전송</button>
  </form>
  <!-- External Scripts -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>

  <!-- Chatting Script -->
  <script>
    // Socket.IO 연결
    const socket = io.connect('http://52.79.174.66:8080/chat', {
      path: '/socket.io',
    });

    // 사용자 닉네임 가져오기
    const userNickElement = document.getElementById('user-nick');
    const userNick = userNickElement ? userNickElement.dataset.usernick : null;

    // 방 입장 이벤트
    socket.emit('join', new URL(location).pathname.split('/').at(-1), userNick);

    // 시스템 메시지 수신 이벤트
    socket.on('join', function (data) {
      const div = document.createElement('div');
      div.classList.add('system');
      const chat = document.createElement('div');
      chat.textContent = data.chat;
      div.appendChild(chat);
      document.querySelector('#chat-list').appendChild(div);
    });

    // 퇴장 메시지 수신 이벤트
    socket.on('exit', function (data) {
      const div = document.createElement('div');
      div.classList.add('system');
      const chat = document.createElement('div');
      chat.textContent = data.chat;
      div.appendChild(chat);
      document.querySelector('#chat-list').appendChild(div);
    });

    // 채팅 메시지 수신 이벤트
    socket.on('chat', function (data) {
      const div = document.createElement('div');
      if (data.user === '{{ user }}') {
        div.classList.add('mine');
      } else {
        div.classList.add('other');
      }
      const name = document.createElement('div');
      name.textContent = data.user;
      div.appendChild(name);
      if (data.chat) {
        const chat = document.createElement('div');
        chat.textContent = data.chat;
        div.appendChild(chat);
      }
      document.querySelector('#chat-list').appendChild(div);
    });

    // 채팅 전송 이벤트
    document.querySelector('#chat-form').addEventListener('submit', function (e) {
      e.preventDefault();
      if (e.target.chat.value) {
        axios.post('/chatroom/room/{{ room.id }}/chat', {
          chat: this.chat.value,
        })
          .then(() => {
            e.target.chat.value = '';
          })
          .catch((err) => {
            console.error(err);
          });
      }
    });
  </script>
{% endblock %}