{% extends 'layout.html' %}

{% block content %}
  <input id="my-id" type="hidden" value="{{ user.id }}">
  <a id="request-friends" class="btn">수신함</a>
  <a id="list-friends" class="btn">목록</a>
  <div id="nowContent" class="timeline">
    <h2>친구 신청 목록</h2>
    <div class="friend-requests">
      {% for friend in friendsRequest %}
        <div>
          {{ friend.nick }}
          <button class="accept-friend-btn" data-requestingId="{{ friend.id }}" data-requestedId="{{ user.id }}">수락</button>
          <button class="reject-friend-btn" data-requestingId="{{ friend.id }}" data-requestedId="{{ user.id }}">거절</button>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}

{% block script %}
<script>
  document.addEventListener('DOMContentLoaded', () => {
    // 수신함 버튼 클릭 이벤트
    const requestButton = document.getElementById('request-friends');
    requestButton.addEventListener('click', () => {
      location.href = '/friends/request';
    });

    // 목록 버튼 클릭 이벤트
    const listButton = document.getElementById('list-friends');
    listButton.addEventListener('click', () => {
      location.href = '/friends';
    });
  });
</script>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    // 수락 버튼 클릭 이벤트 등록
    const acceptFriendButtons = document.querySelectorAll('.accept-friend-btn');
    acceptFriendButtons.forEach((button) => {
      button.addEventListener('click', async () => {
        const requestedId = button.getAttribute('data-requestedId');
        const requestingId = button.getAttribute('data-requestingId');
        if (confirm(`친구 요청을 수락하시겠습니까?`)) {
          try {
            const response = await axios.post('/user/friendship/accept', {
              requestedId,
              requestingId,
            });

            if (response.status === 200) {
              alert('친구 요청이 수락되었습니다.');
              location.reload();
            } else {
              alert('친구 요청을 수락하는 중에 오류가 발생했습니다.');
            }
          } catch (error) {
            console.error(error);
            alert(error);
            alert('친구 요청을 수락하는 중에 오류가 발생했습니다.');
          }
        }
      });
    });
  });
</script>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    // 거절 버튼 클릭 이벤트 등록
    const rejectFriendButtons = document.querySelectorAll('.reject-friend-btn');
    rejectFriendButtons.forEach((button) => {
      button.addEventListener('click', async () => {
        const requestedId = button.getAttribute('data-requestedId');
        const requestingId = button.getAttribute('data-requestingId');
        if (confirm(`친구 요청을 거절하시겠습니까?`)) {
          try {
            const response = await axios.post('/user/friendship/reject', {
              requestedId,
              requestingId,
            });

            if (response.status === 200) {
              alert('친구 요청이 거절되었습니다.');
              location.reload();
            } else {
              alert('친구 요청을 거절하는 중에 오류가 발생했습니다.');
            }
          } catch (error) {
            console.error(error);
            alert(error);
            alert('친구 요청을 거절하는 중에 오류가 발생했습니다.');
          }
        }
      });
    });
  });
</script>
{% endblock %}