{% extends 'layout.html' %}

{% block content %}
  <div class="timeline">
    <h2>전체 유저 목록</h2>
    <div class="all-users">
      {% for use in users %}
        {% if use.id !== user.id %}
          <div>
            {{ use.nick }}
            {% if use.isFriend %}
            {% else %}
              <button class="add-friend-btn" data-requestedId="{{ use.id }}" data-requestingId="{{ user.id }}">친구 추가</button>
            {% endif %}
            {% if not followingIdList.includes(use.id) %}
              <button class="twit-follow" data-userId="{{ use.id }}">팔로우하기</button>
            {% endif %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const addFriendButtons = document.querySelectorAll('.add-friend-btn');
      addFriendButtons.forEach((button) => {
        button.addEventListener('click', async () => {
          const requestedId = button.getAttribute('data-requestedId');
          const requestingId = button.getAttribute('data-requestingId');
          if (confirm(`${requestedId}님에게 친구 요청을 보내시겠습니까?`)) {
            try {
              const response = await axios.post('/user/friendship', {
                requestedId,
                requestingId,
              });
              if (response.status === 200) {
                alert('친구 요청이 전송되었습니다.');
                location.reload();
              } else {
                alert('친구 요청을 보내는 중에 오류가 발생했습니다.');
              }
            } catch (error) {
              console.error(error);
              alert(error);
              alert('친구 요청을 보내는 중에 오류가 발생했습니다.');
            }
          }
        });
      });
    });
  </script>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const addFriendButtons = document.querySelectorAll('.twit-follow');
      addFriendButtons.forEach((button) => {
        button.addEventListener('click', function() {
          const userId = button.getAttribute('data-userId');
          if (confirm('팔로잉하시겠습니까?')) {
            axios.post(`/user/${userId}/follow`)
            .then(() => {
              location.reload();
            })
            .catch((err) => {
              console.error(err);
            });
          }
        });
      });
    });
  </script>
{% endblock %}